<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Helloe World</h2>
    <form action="/add/" method="post">
        <input type="text" name="good">
        <button>Добавить</button>
    </form>
    <h1>Thisi is my first template in Flask</h1>
    <ol>
        {% for good in goods %}
        <li>{{ good }}</li>
        {% endfor %}
    </ol>
</body>
</html>